* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  font-family: Arial, sans-serif;
  text-align: center;
}


/* - - -  HEADER  - - - */
.bg-color-green {
  background-color: green;
}

.color-white {
  color: white;
}

.contain {
  width: 850px;
  margin: 0 auto;
  padding: 10px;
}

.paragrapgh {
  line-height: 1.5rem;
  font-size: 22px;
}


/* - - -  SECTION НАШИ УСЛУГИ  - - - */
.m-top-20 {
  margin-top: 20px;
}

.m-bot-10 {
  margin-bottom: 10px;
}

.t-justify {
  text-align: justify;
}

li {
  list-style-position: inside;
  color: red;
}

.f-size-12 {
  font-size: 12px;
}

span {
  color: black;
}


/* - - -  SECTION НАШИ КОНТАКТЫ  - - - */
.bg-color-red {
  background-color: red;
}

.m-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* - - -  SECTION НАША КОМПАНИЯ  - - - */
.m-bot-20 {
  margin-bottom: 20px;
}


/* - - -  SECTION НАШЫ КЛИЕНТЫ  - - - */
.bg-color-orange {
  background-color: #FF8040;
}

.m-top-10 {
  margin-top: 10px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 819px;
}

.border-black-1 {
  border: 1px solid black;
}


/* - - -  FOOTER  - - - */
.bg-color-brawn {
  background-color: #912f00;
  position: relative;
  bottom: 0;
}

.height-300 {
  height: 230px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}